<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jaksona.app.entity.admin.User">
	<sql id="ALL_COLUMN">
		id,username,password,enabled
	</sql>

	<select id="selectByPrimaryKey" parameterType="long" resultType="com.jaksona.app.entity.admin.User">
		SELECT
		<include refid="ALL_COLUMN"/>
		FROM user
		WHERE id = #{id}
	</select>

	<select id="selectByUsername" parameterType="String" resultType="int">
		SELECT count(id) FROM user WHERE username = #{username}
	</select>

	<select id="selectByEntity" parameterType="com.jaksona.app.entity.admin.User" resultType="com.jaksona.app.entity.admin.User">
		SELECT
		<include refid="ALL_COLUMN"/>
		FROM user
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="username != null and username != ''">
				username = #{username}
			</if>
			<if test="enabled != null">
				enabled = #{enabled}
			</if>
		</where>
		<if test="extLimit != null">
			limit #{start}, #{limit}
		</if>
	</select>

	<insert id="insertSelective" parameterType="com.jaksona.app.entity.admin.User" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO user (id, username, password, enabled)
		VALUES (#{id}, #{username}, #{password}, #{enabled})
	</insert>

</mapper>